// === Font === //
// $font-body: "EuclidCircularB", sans-serif;
$font-body: 'Inter', sans-serif;

// === Font Weight === //
$font-weight: (
  thin: 100,
  extraLight: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semiBold: 600,
  bold: 700,
  extraBold: 800,
  black: 900
);

// == Breakpoints === //
$breakpoints: (
  s-320: 320px,
  s-375: 375px,
  s-425: 425px,
  s-480: 480px,
  s-600: 600px,
  medium: 768px,
  s-960: 960px,
  s-1024: 1024px,
  s-1280: 1280px,
  s-1500: 1500px,
  s-1366: 1366px,
  s-1440: 1440px,
  largest: 1920px,
  d-2560: 2560px,
  d-3000: 3000px
);

// === Colors === //
$colors: (
  main: #e6f0ff,
  ////*********** Gray **************
  new-gray-50: #ffffff,
  new-gray-75: #fdfdfd,
  new-gray-80: #f2f2f2,
  new-gray-100: #f8f8f8,
  new-gray-200: #e6e6e6,
  new-gray-300: #d5d5d5,
  new-gray-400: #b1b1b1,
  new-gray-500: #909090,
  new-gray-600: #6d6d6d,
  new-gray-700: #464646,
  new-gray-800: #222222,
  new-gray-900: #000000,
  ////*********** Brand **************
  new-brand-100: #ffebe7,
  new-brand-200: #ffddd6,
  new-brand-300: #ffcdc3,
  new-brand-400: #ffb7a9,
  new-brand-500: #ff9b88,
  new-brand-600: #ff7c65,
  new-brand-700: #f75c46,
  new-brand-800: #ea3829,
  new-brand-900: #d31510,
  new-brand-1000: #b40000,
  new-brand-1100: #930000,
  new-brand-1200: #740000,
  new-brand-1300: #590000,
  new-brand-1400: #430000,
  ////*********** Red **************
  new-red-100: #ffebe7,
  new-red-200: #ffddd6,
  new-red-300: #ffcdc3,
  new-red-400: #ffb7a9,
  new-red-500: #ff9b88,
  new-red-600: #ff7c65,
  new-red-700: #f75c46,
  new-red-800: #ea3829,
  new-red-900: #d31510,
  new-red-1000: #b40000,
  new-red-1100: #930000,
  new-red-1200: #740000,
  new-red-1300: #590000,
  new-red-1400: #430000,
  ////*********** Orange **************
  new-orange-100: #ffeccc,
  new-orange-200: #ffdfad,
  new-orange-300: #fdd291,
  new-orange-400: #ffbb63,
  new-orange-500: #ffa037,
  new-orange-600: #f68511,
  new-orange-700: #e46f00,
  new-orange-800: #cb5d00,
  new-orange-900: #b14c00,
  new-orange-1000: #953d00,
  new-orange-1100: #7a2f00,
  new-orange-1200: #612300,
  new-orange-1300: #491901,
  new-orange-1400: #351201,
  ////*********** Yellow **************
  new-yellow-100: #fbf198,
  new-yellow-200: #f8e750,
  new-yellow-300: #f8d904,
  new-yellow-400: #e8c600,
  new-yellow-500: #d7b300,
  new-yellow-600: #c49f00,
  new-yellow-700: #b08c00,
  new-yellow-800: #9b7800,
  new-yellow-900: #856600,
  new-yellow-1000: #705300,
  new-yellow-1100: #5b4300,
  new-yellow-1200: #483300,
  new-yellow-1300: #362500,
  new-yellow-1400: #281a00,
  ////*********** Chartreuse **************
  new-chartreuse-100: #dbfc6e,
  new-chartreuse-200: #cbf443,
  new-chartreuse-300: #bce92a,
  new-chartreuse-400: #aad816,
  new-chartreuse-500: #98c50a,
  new-chartreuse-600: #87b103,
  new-chartreuse-700: #769c00,
  new-chartreuse-800: #678800,
  new-chartreuse-900: #577400,
  new-chartreuse-1000: #486000,
  new-chartreuse-1100: #3a4d00,
  new-chartreuse-1200: #2c3b00,
  new-chartreuse-1300: #212c00,
  new-chartreuse-1400: #181f00,
  ////*********** Celery **************
  new-celery-100: #cdfcbf,
  new-celery-200: #aef69d,
  new-celery-300: #96ee85,
  new-celery-400: #72e06a,
  new-celery-500: #4ecf50,
  new-celery-600: #27bb36,
  new-celery-700: #07a721,
  new-celery-800: #009112,
  new-celery-900: #007c0f,
  new-celery-1000: #00670f,
  new-celery-1100: #00530d,
  new-celery-1200: #00400a,
  new-celery-1300: #003007,
  new-celery-1400: #002205,
  ////*********** Green **************
  new-green-100: #cef8e0,
  new-green-200: #adf4ce,
  new-green-300: #89ecbc,
  new-green-400: #67dea8,
  new-green-500: #49cc93,
  new-green-600: #2fb880,
  new-green-700: #15a46e,
  new-green-800: #008f5d,
  new-green-900: #007a4d,
  new-green-1000: #00653e,
  new-green-1100: #005132,
  new-green-1200: #053f27,
  new-green-1300: #0a2e1d,
  new-green-1400: #0a2015,
  ////*********** Seafoam **************
  new-seafoam-100: #cef7f3,
  new-seafoam-200: #aaf1ea,
  new-seafoam-300: #8ce9e2,
  new-seafoam-400: #65dad2,
  new-seafoam-500: #3fc9c1,
  new-seafoam-600: #0fb5ae,
  new-seafoam-700: #00a19a,
  new-seafoam-800: #008c87,
  new-seafoam-900: #007772,
  new-seafoam-1000: #00635f,
  new-seafoam-1100: #0c4f4c,
  new-seafoam-1200: #123c3a,
  new-seafoam-1300: #122c2b,
  new-seafoam-1400: #0f1f1e,
  ////*********** Cyan **************
  new-cyan-100: #c5f8ff,
  new-cyan-200: #a4f0ff,
  new-cyan-300: #88e7fa,
  new-cyan-400: #60d8f3,
  new-cyan-500: #33c5e8,
  new-cyan-600: #12b0da,
  new-cyan-700: #019cc8,
  new-cyan-800: #0086b4,
  new-cyan-900: #00719f,
  new-cyan-1000: #005d89,
  new-cyan-1100: #004a73,
  new-cyan-1200: #00395d,
  new-cyan-1300: #002a46,
  new-cyan-1400: #001e33,
  ////*********** Blue **************
  new-blue-100: #e0f2ff,
  new-blue-200: #cae8ff,
  new-blue-300: #b5deff,
  new-blue-400: #96cefd,
  new-blue-500: #78bbfa,
  new-blue-600: #59a7f6,
  new-blue-700: #3892f3,
  new-blue-800: #147af3,
  new-blue-900: #0265dc,
  new-blue-1000: #0054b6,
  new-blue-1100: #004491,
  new-blue-1200: #003571,
  new-blue-1300: #002754,
  new-blue-1400: #001c3c,
  ////*********** Indigo **************
  new-indigo-100: #edeeff,
  new-indigo-200: #e0e2ff,
  new-indigo-300: #d3d5ff,
  new-indigo-400: #c1c4ff,
  new-indigo-500: #acafff,
  new-indigo-600: #9599ff,
  new-indigo-700: #7e84fc,
  new-indigo-800: #686df4,
  new-indigo-900: #5258e4,
  new-indigo-1000: #4046ca,
  new-indigo-1100: #3236a8,
  new-indigo-1200: #262986,
  new-indigo-1300: #1b1e64,
  new-indigo-1400: #141648,
  ////*********** Purple **************
  new-purple-100: #f6ebff,
  new-purple-200: #eeddff,
  new-purple-300: #e6d0ff,
  new-purple-400: #dbbbfe,
  new-purple-500: #cca4fd,
  new-purple-600: #bd8bfc,
  new-purple-700: #ae72f9,
  new-purple-800: #9d57f4,
  new-purple-900: #893de7,
  new-purple-1000: #7326d3,
  new-purple-1100: #5d13b7,
  new-purple-1200: #470c94,
  new-purple-1300: #33106a,
  new-purple-1400: #230f49,
  ////*********** Fuchsia **************
  new-fuchsia-100: #ffe9fc,
  new-fuchsia-200: #ffdafa,
  new-fuchsia-300: #fec7f8,
  new-fuchsia-400: #fbaef6,
  new-fuchsia-500: #f592f3,
  new-fuchsia-600: #ed74ed,
  new-fuchsia-700: #e055e2,
  new-fuchsia-800: #cd3ace,
  new-fuchsia-900: #b622b7,
  new-fuchsia-1000: #9d039e,
  new-fuchsia-1100: #800081,
  new-fuchsia-1200: #640664,
  new-fuchsia-1300: #470e46,
  new-fuchsia-1400: #320d31,
  ////*********** Magenta **************
  new-magenta-100: #ffeaf1,
  new-magenta-200: #ffdce8,
  new-magenta-300: #ffcadd,
  new-magenta-400: #ffb2ce,
  new-magenta-500: #ff95bd,
  new-magenta-600: #fa77aa,
  new-magenta-700: #ef5a98,
  new-magenta-800: #de3d82,
  new-magenta-900: #c82269,
  new-magenta-1000: #ad0955,
  new-magenta-1100: #8e0045,
  new-magenta-1200: #700037,
  new-magenta-1300: #54032a,
  new-magenta-1400: #3c061d
);

// === z-index === //
$z-index: (
  dropdown: 1000,
  drop-back: 1010,
  sticky: 1020,
  fixed: 1030,
  modal-backdrop: 1040,
  modal: 1050,
  popover: 1060,
  tooltip: 1070
);

// === Typography === //
$font-size-base: 1.4rem !default; // 14px
// $font-size-medium: 1.6rem !default;
$check-box-size: 1.6rem;
$input-height: 3.6rem;

$attributes: (
  w: width,
  h: height,
  max-w: max-width,
  min-w: min-width,
  max-h: max-height,
  min-h: min-height,
  fs: font-size,
  mr-b: margin-bottom,
  mr-t: margin-top,
  mr-l: margin-left,
  mr-r: margin-right,
  pd-b: padding-bottom,
  pd-t: padding-top,
  pd-l: padding-left,
  pd-r: padding-right,
  pd: padding,
  mr: margin,
  lh: line-height
);

$colors-attributes: (
  text: 'color',
  bg: 'background',
  border: 'border-color'
);

$custom-sizes: (
  0: 0rem,
  1px: 0.1rem,
  2px: 0.2rem,
  3px: 0.3rem,
  4px: 0.4rem,
  5px: 0.5rem,
  6px: 0.6rem,
  7px: 0.7rem,
  8px: 0.8rem,
  9px: 0.9rem,
  10px: 1rem,
  12px: 1.2rem,
  14px: 1.4rem,
  15px: 1.5rem,
  16px: 1.6rem,
  20px: 2rem,
  24px: 2.4rem,
  25px: 2.5rem,
  30px: 3rem,
  32px: 3.2rem,
  35px: 3.5rem,
  40px: 4rem,
  45px: 4.5rem,
  48px: 4.8rem,
  50px: 5rem,
  55px: 5.5rem,
  60px: 6rem,
  65px: 6.5rem,
  70px: 7rem,
  75px: 7.5rem,
  80px: 8rem,
  85px: 8.5rem,
  90px: 9rem,
  95px: 9.5rem,
  100px: 10rem,
  125px: 12.5rem,
  150px: 15rem,
  175px: 17.5rem,
  200px: 20rem,
  225px: 22.5rem,
  250px: 25rem,
  275px: 27.5rem,
  300px: 30rem,
  325px: 32.5rem,
  350px: 35rem,
  375px: 37.5rem,
  400px: 40rem,
  425px: 42.5rem,
  450px: 45rem,
  475px: 47.5rem,
  500px: 50rem,
  550px: 55rem,
  600px: 60rem,
  650px: 65rem,
  700px: 70rem,
  750px: 75rem,
  800px: 80rem,
  850px: 85rem,
  900px: 90rem,
  950px: 95rem,
  1000px: 100rem
);

$cursor: (
  pointer: pointer,
  not-allowed: not-allowed,
  progress: progress,
  cell: cell,
  auto: auto,
  all-scroll: all-scroll,
  text: text,
  wait: wait,
  none: none,
  copy: copy,
  move: move,
  help: help,
  default: default,
  no-drop: no-drop,
  zoom-in: zoom-in,
  zoom-out: zoom-out
);
