.header {
  padding: 24px 0;
  position: relative;
  .logo {
    position: absolute;
    top: 5px;
    left: -10px;
  }
  .menu {
    padding-left: 120px;
  }
  .menu-custom {
    background-color: map-get($colors, main );
    height: 2rem;
    display: flex;
    justify-content: end;
    font-weight: 600;
  }
}