.header {
  padding: 24px 0;
  position: relative;
  .logo {
    position: absolute;
    top: .4rem;
    left: -10px;
    width: 200px;
    .img-bl{
      height: 5.8rem;
    }
    .img-logo{
      position: absolute;
      top: -0.6rem;
      left: 30px;
    }
  }
  .menu {
    padding-left: 200px;
  }
  .menu-custom {
    background-color: map-get($colors, main );
    height: 2rem;
    display: flex;
    justify-content: end;
    font-weight: 600;
  }
}